
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


* {
    margin:0;
    padding:0;
    font-family: 'Arvo';
  }
  /* nav */

  .nav-item{
  
    font-size: large;
    font-weight: 500;
  }

  /* animate image and text  */
.home-img{
    width: 113%;
    margin-top: 5%;
}
.container-content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; 
}
.container-left{
    /* display: flex; */
    justify-content: space-between;
    width: 50%;
    align-items: center;
    
}
.container-right{
    width: 50%;
    align-items: center;
}
.main{
    height:100vh;
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:start;
    text-align:center;
}
  .main h1{
    text-align:center;
    text-transform: uppercase;
    color: #66c24f; 
    font-size: 6rem;
    margin-bottom: 10%;
  }
  
  .roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1D3557;
  }
  
  
  #spare-time{
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #8e01ec;
    
  }
  
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 6s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
  

  /* about as */
  
  .about{
    background: #ffff66;
    height: 150mm;
    position: relative;
  }
  .abt{
    padding: 50px;
  }
  .about-txt{
    background: #fff;
    position: absolute;  
    top: 50%;   
    left: 50%;
    height: 70mm;
    transform: translate(-50%, -50%); 
    border-radius: 10px;  
  }
  .about-txt h1{
    font-family: 'Tilt Warp', cursive;
    font-weight: 900;
    color: blue;
    margin: 25px;
    text-align: center;
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity:1;
  }

  /* Project */
  .pro-title{
    margin-bottom: 30px;
  }

  /* profile css  */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}



  @media screen and (max-width: 600px){
    .main h1{
    text-align:center;
    text-transform: uppercase;
    color: #66c24f; 
    font-size: 2.125rem;
  }
    
    .roller{
    height: 2.6rem; 
    line-height: 2.125rem;  
    }
    
    #spare-time {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    
    .roller #rolltext {  
    animation: slide-mob 5s infinite;  
  }
    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .navbar {
    margin-bottom: 20px;
  }
